<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Knygos.lt" parallel="methods" thread-count="4">
    <test name="Regression">
        <classes>
            <class name="tests.knygosLt.LogIn"/>
            <class name="tests.knygosLt.LogOut"/>
            <class name="tests.knygosLt.PurchaseBasket"/>
            <class name="tests.knygosLt.Registration"/>
            <class name="tests.knygosLt.Search"/>
            <class name="tests.knygosLt.TopBooks"/>
            <class name="tests.knygosLt.WishList"/>
        </classes>
    </test>
</suite>
